<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <title>MyMiniFactoryChat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="/socket.io/socket.io.js"> </script>
  <script src='app.js'></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href="style.css" rel="stylesheet">
</head>

<body>

  <!-- Bootstrap Nav Bar -->
  <nav id="main-navbar" class="navbar navbar-default">
    <div id="main_navbar_container" class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mini_navbar_menu" aria-expanded="false">
           <span class="glyphicon glyphicon-cog"></span>
        </button>
        <ul class="nav navbar-nav navbar-left">
           <li><a id="a" class="navbar-brand" href="#">My Mini Factory</a></li>
           <li><a href="#" class="sub-brand">Live Streaming and Chatrooms</a></li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="mini_navbar_menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.myminifactory.com/">About</a></li>
          <li><a href="http://www.myminifactory.com/tv/list">TV</a></li>
          <li><a href="#">I <span class="glyphicon glyphicon-heart"></span> 3D Printing</a></li>
        </ul> 
      </div> 
    </div>   
  </nav> 
  <!-- End Navbar -->

  <!-- Container for the chat / keep everything in one column with offset-->
  <div class="container-fluid">

    <div class="col-xs-offset-1 col-xs-2 column" id="chatroom_list">
      <ul>
        <li data-room='general'>General</li>
        <li data-room='toys'>Toys</li>
      </ul>
    </div>

    <div class="col-xs-6 column" id="chat_box">
      <div class="row" id="messages-list">
        <ul id="chatlines">
        </ul>
      </div>
      <div class="row" id="write_msg">
        <form>
          <input id="nick" type="text" placeholder="Enter your name" disabled="disabled" />
          <input type="text" id="text" placeholder="Enter text here" disabled="disabled"/>
          <input type="submit" value="Send" disabled="disabled" />
        </form>
      </div>
    </div>
  

  </div>
  <!-- End of general chat container -->



  
</body>
</html>