body {
  background: rgb(233, 233, 233);
  font-family: 'Open Sans Condensed', sans-serif;
}
a {
  color: black;
}

/****************
NAV
*****************/
#main-navbar {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}

#main-navbar #brand_name {
  font-weight: 700;
  color: black;
  font-size: 1.5em;
}

.column {
  border: 2px solid #E8E8EF;
  height: 500px;
  background-color: #F7F4F4;
  border-radius: 12px;
}

.column li {
  list-style-type: none;
}

.glyphicon-heart {
  color: red;
}
.glyphicon-heart:hover {
  color: blue;
}

/****************
CHAT LIST
*****************/

.highlight {
  background-color: #FF3056;
}
.highlight a {
  color: white;
}

#chatroom_list ul {
  padding-left: 0px;
}
#chatroom_list li {
  line-height: 35px;
  padding-left: 15px;
  font-size: 1.2em;
  font-weight: 600;
}

#chatroom_list h4 {
  text-align: center;
  font-size: 1.4em;
}

/****************
MESSAGES
*****************/
#messages-list {
  height: 450px;
  overflow: hidden; 
}

#messages-list li {
  font-size: 1.2em;
}

#chatlines {
  margin-top: 10px;
  word-break: break-all;
}

.nick {
  font-weight: bold;
  margin-right: 2px;
}

/****************
FORM TO SEND MSG
*****************/
#write_msg {
  text-align: center;
  font-size: 1.3em;
}
#text {
  width: 35%;
}