.column {
  border: 1px solid blue;
  height: 500px;
}

.column li {
  list-style-type: none;
}

/****************
CHAT LIST
*****************/
.highlight {
  background-color: #FF3056;
}
#chatroom_list ul {
  padding-left: 0px;
}
#chatroom_list li {
  line-height: 35px;
}

/****************
MESSAGES
*****************/
#messages-list {
  height: 450px;
  overflow: hidden; 
}

#chatlines {
  word-break: break-all;
}

/****************
FORM TO SEND MSG
*****************/
#write_msg {
  text-align: center;
}